[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "ssh://git@github.com/AfricasVoices/CoreDataModules.git", editable = true, ref = "6f0181b77a9474b7fd0a5970096f716e3c295a1e"}
jsonpickle = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
