[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "https://www.github.com/AfricasVoices/CoreDataModules", editable = true, ref = "0cd53ca17df28acf4f5ea8a3e3bf1c82dae139ce"}

[dev-packages]

[requires]
python_version = "3.6"
