[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "ssh://git@github.com/AfricasVoices/CoreDataModules.git", editable = true, ref = "72a7bc97c554322e905eeeee0b16a38b54b3dbd6"}
jsonpickle = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
