[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "ssh://git@github.com/AfricasVoices/CoreDataModules.git", editable = true, ref = "75d6e0770825001c895a35fc5723e3813012fc81"}
jsonpickle = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
